.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.buffer {
  height: 900px;
}

html {
  scroll-behavior: smooth;
}

#title_center{
  text-align: center;
}

.circle {
  background: #3da3d5;
  border-radius: 50%;
  width: 10%;
  height: 20%;
  opacity: 0.4;
}

/*Animations*/
.fade-from-left {
  opacity: 0;
  transform: translateX(-1000px);
  animation: fadeFromLeft 1.5s ease-out forwards;
}

@keyframes fadeFromLeft {
  to {
      opacity: 1;
      transform: translateX(0);
  }
}